/*
2004.12 https://tantek.com/log/2004/undohtml.css
2005.05 https://developer.apple.com/internet/webcontent/quality/css.html
2008.02 https://meyerweb.com/eric/tools/css/reset/reset200802.css
 - historically the most popular reset
2010.05 http://www.vcarrer.com/2010/05/css-mini-reset.html
2011.01 https://meyerweb.com/eric/tools/css/reset/
2013.10 https://clarle.github.io/yui3/yui/docs/cssreset/
2018.11 https://necolas.github.io/normalize.css/
 - a different approach focusing on browser consistency instead of total resets
2021.01 https://jgthms.com/minireset.css/
2021.09 https://csstools.github.io/sanitize.css/
 - like normalize but introduced many opinionated defaults
2021.11 https://www.joshwcomeau.com/css/custom-css-reset/
 - grade A
2023.09 https://piccalil.li/blog/a-more-modern-css-reset/
 - grade A
2024.03 https://github.com/Lazzzer00/Best-CSS-Reset-2024
2024.08 https://elad2412.github.io/the-new-css-reset/
 - a new approach to resetting CSS that targets browser stylesheets
 - uses rules like `all: unset` and `display: revert` but then manually adds back certain defaults
2024.11 https://github.com/kkrishguptaa/reseter.css
 - an uncritical frankenstein of all previous resets
 - contains a lot of old rules that actively breaks things like dialogs
2025.04 https://fokus.dev/tools/uaplus/
2025.09 https://frontendmasters.com/blog/the-coyier-css-starter/ 
*/

@layer reset {
  /* Create a root stacking context for frameworks. */
  #root, #__next { isolation: isolate; }

  html {
    /* Enable native dark/light mode UI components. */
    color-scheme: light dark;
    /* Prevent layout shifts when scrollbars appear. */
    scrollbar-gutter: stable;
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    /* Improve text rendering. */
    -webkit-font-smoothing: antialiased;
    /* Remove the 8px body margin. */
    margin: 0;
    /* Body should take up the entire viewport. */
    min-height: 100dvh;
  }

  :root {
    /* Fix box-sizing to include borders and padding. */
    box-sizing: border-box;
    /* Set consistent line-height default. */
    line-height: 1.5;
  }

  /* Remove default margin. */
  *:where(:not(dialog, [popover])) { margin: 0; }

  *,
  ::before,
  ::after {
    /* Inherit box-sizing from root. */
    box-sizing: inherit;
    /* Backgrounds do not repeat by default. */
    background-repeat: no-repeat;
  }

  ::before,
  ::after {
    /* Add text decoration inheritance in all browsers. */
    text-decoration: inherit;
    /* Add vertical alignment inheritance in all browsers. */
    vertical-align: inherit;
  }

  /* Improve line wrapping. */
  h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
  p { text-wrap: pretty; }

  /* Avoid text overflows. */
  h1, h2, h3, h4, h5, h6, p { overflow-wrap: break-word; }

  /* Set shorter line heights on headings and interactive elements. */
  h1, h2, h3, h4, h5, h6, button, input, label {
    line-height: 1.1;
  }

  /* Remove list styles on ul, ol elements with a list role. */
  ul[role='list'], ol[role='list'] {
    list-style: none;
  }

  /* Prevent `sub` and `sup` elements from affecting the line height. */
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }

  /* Ensure that embedded content doesn't overflow its container. */
  audio, canvas, embed, iframe, img, object, picture, svg, video {
    display: block;
		max-block-size: 100%;
		max-inline-size: 100%;
	}

  /* Force elements to inherit typography. */
  button, input, select, textarea {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
  }

  /* Prevent fieldsets from expanding past their container. */
  fieldset { min-inline-size: 0; }

  /* Stop textarea from breaking grid. */
  textarea { resize: vertical; }

  /* Standardize file upload button typography. */
  ::file-selector-button {
    color: inherit;
    font: inherit;
  }

  /* Anything that has been anchored to should have extra scroll margin. */
  :target { scroll-margin-block: 5ex; }

  /* Normalize search input styles on iOS and macOS. */
	[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
  }
	@supports (-webkit-touch-callout: none) {
		[type="search"] {
			border: 1px solid -apple-system-secondary-label;
			background-color: canvas;
		}
	}

  /* Optimize mark element in Forced Colors Mode */
	@media (forced-colors: active) {
		mark {
			color: HighlightText;
			background-color: Highlight;
		}
	}

  /* Enable keyword animations. */
  @media (prefers-reduced-motion: no-preference) {
    html { interpolate-size: allow-keywords; }
  }

  /* Respect user preference for reduced motion. */
  @media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    scroll-behavior: auto;
    transition-duration: 0.01ms;
    transition: none;
  }

  html:focus-within {
    scroll-behavior: auto;
  }
}
}
