@import url("./global.css");
@import url("./common.css");

html,
body {
  font-family: var(--fnt-sans);

  margin: 0;
  overflow-y: overlay;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

summary, button, input[type=radio]:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
